@import url("reset.css");
@import url("reset2.css");
@import url("fonts.css");

body {
	background-color: #cc260e;
	font-family:"Montserrat";
}

/*------------------------------------*\
  #CONTROLS-PANEL
\*------------------------------------*/

.banner {
	background-color: rgba(0,0,0,0.6);
	margin:0 auto;
	padding:0.5rem 0;
}

h1, .new {
	text-align: center;
	margin:1rem;
	color:white;
}

h1, button {
	text-transform: uppercase;
	font-weight: 700;
}

button {
	font-family: inherit;
	font-size: 1rem;
	border:none;
	border-radius:0.5rem;
	background-color:rgba(255,255,255,0.4);
	outline:none;
	text-align: center;
	height: 100%;
	cursor:pointer;
	padding:0.5rem;
}

button:hover {
	cursor:pointer;
	color:white;
	transition: color 0.3s ease;
}

/*------------------------------------*\
  #CIRCLES-SECTION
\*------------------------------------*/

.container {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	max-width:30rem;
	margin:1.5rem auto;
}

.field {
	background-color:#fffef7;
	height:8rem;
	width:8rem;
	margin:0.5rem;
	border-radius:50%;
	text-align: center;
	vertical-align: middle;
	line-height:8rem;
	font-size:4rem;
	cursor:default;
}

.field:hover {
	background-color:#c4c0ae;
	transition: background-color 0.3 ease-in-out;
}

.selected {
	background-color:#e5e3da;
}

.selected:hover {
	background-color:#e5e3da;
}

/*------------------------------------*\
  #MEDIA-RULES
\*------------------------------------*/
@media all and (max-width : 480px) {
	html {
	font-size:11px;
	}
}

@media all and (min-width : 1367px) {
	html {
	font-size:20px;
	}
}